.meeting {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__local-player-1 {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        width: 100px !important;
        height: 100px !important;    
        border-radius: 10px;

        &:hover {
            width: 250px !important;
            height: 250px !important;  
            transition: 200ms  ease-out all;  
        }
    }

    &__local-player-2 {
        width: 500px !important;        
        border-radius: 10px;
    }

    &__join {
        width: 100%;
        background-color: green;
        margin-top: 1rem;

        &:disabled{
            background-color: #ccc;
        }
    }
}

